### 1. (1pt) 자유낙하 거리공식은 다음과 같이 표현될 수 있습니다. $h=\frac{1}{2}gt^2$. 아래 Pyhon Code를 완성하여 h를 구하시오!

In [17]:
g=9.80665
t=10.1

#TODO
h = (1/2)*g*(t**2)
print(h)

# 올바른 출력값
# 500.18818324999995

500.18818324999995

### 2. (1pt)  소수점 셋째자리에서 반올림 하시오. 예) 11.135 => 11.14

In [18]:
g=9.80665
t=10.1

#TODO
h = round((1/2)*g*(t**2),2)
print(h)

# 올바른 출력값
# 500.19

500.19

### 3. (3pt)  위의 문제에 이어서 이번에는 반대로 t를 구하시오
**절대로 sqrt관련 함수를 import해서 사용하시면 안됩니다!**

In [19]:

g=9.80665
h=70

#TODO
t = ((2*h)/g)**0.5
print(t)

3.778363002900991

### 4. (2pt)  코로나 사태로 인해, 한반에 최대 수강인원은 20명으로 제한되었습니다. 전교생이 643명인 경우 최소 몇개의 교실이 필요할까요?

In [20]:
num_of_students = 643
classroom_limit = 20

#TODO
if num_of_students%classroom_limit == 0:
    num_of_classroom = num_of_students//classroom_limit
else:
    num_of_classroom = num_of_students//classroom_limit + 1

print(num_of_classroom)

33

### 5. (3pt) 어떠한 단어가 주어졌을때, 그 단어가 알파벳인지 아닌지 구별하는 코드를 작성하시오

In [26]:
### 어떠한 단어가 주어졌을때, 그 단어가 알파벳인지 아닌지 구별하는 코드를 작성하시오
is_alphabet = False

word = "안녕"
word = "zzzzz"
# word = "123"
#TODO
if 'a'<= word.lower() <='z':
    is_alphabet = True

print("Is {} alphabet? : {}".format(word, is_alphabet))

Is zzzzz alphabet? : False

### 6. (3pt) 정사각형의 높이 n이 주어졌을 때 for문을 활용하여, 다음과 같이 정사각형을 그리시오.

In [22]:
n=4
square = ""
#TODO
#다음 셀의 결과값을 확인하여, 이곳에 for문을 활용하여 square의 값을 추가하세요
for i in range(n):
    square += "*"*n
    square += "\n"
print(square)

****
****
****
****

In [23]:
#아래 주석을 풀어 결과를 비교하세요
#n이 3일때
print("n=3")
square = "***\n***\n***"
print(square)
#n이 4일때
print("n=4")
square = "****\n****\n****\n****"
print(square)

n=3
***
***
***
n=4
****
****
****
****

### 7. (5pt) 삼각형 높이 n이 주어졌을 때 for문을 활용하여, 다음과 같이 삼각형을 그리시오.

In [24]:
### for문을 활용하여, 다음과 같이 삼각형을 그리시오
n=3
triangle = ""
#TODO
#다음 셀의 결과값을 확인하여, 이곳에 for문을 활용하여 삼각형을 출력하세요
for i in range(n):
    triangle+=" "*(n-i-1)
    triangle+="*"*(2*i+1)
    triangle+="\n"
print(triangle)

  *
 ***
*****

In [25]:
#아래 주석을 풀어 결과를 비교하세요
#n이 3일때
print("n=3")
triangle = "  *\n ***\n*****"
print(triangle)
#n이 4일때
print("n=4")
triangle = "   *\n  ***\n *****\n*******"
print(triangle)

n=3
  *
 ***
*****
n=4
   *
  ***
 *****
*******